{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perros</title>
    <link rel="icon"type="image/x-icon"href="https://img.freepik.com/vector-premium/plantilla-logotipo-perro-gato-arte-lineal_469071-187.jpg?w=1380">
    <script src="{% static 'JS/Script.js'%}"></script>
    <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Estilo.css'%}">
</head>
<body>
    <header>
        <div style="background-color:#28afb0;">
            <h1 style="text-align: center;" >ONG - AYUDA A UN PELUDO </h1>
            <center>La ONG "AYUDA A UN PELUDO" es una organizacion sin fines de lucro, enfocada en ayudar a todos los animales en situacion
                de calle, y con el proposito de poder encontrarles una familia y un lugar donde sean queridos.</center>
                <ul class="nav nav-pills nav-justified">
                  <li class="nav-item">
                    <a class="nav-link" href="../">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../Perros">Perros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../Gatos">Gatos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="../Contacto">Contacto</a>
                  </li>
                </ul>
                  <header>
                
               
                   <h1 style="text-align: center;" >Perros en adopcion</h1>
                
                <center><h4> Tenemos una variedad de perros para todos los gustos, a excepcion de los viringos peruano debido a que no tienen pelo
                  <br />
                  <button onClick="getRandomImage()" class="btn btn-primary" >Mire alguno de los perros adoptados</button><br />
                
                  <img id="dogImage" src="https://dog.ceo/img/dog-api-logo.svg">
                </header>
          </div>

    </header>
    <section>
    <article>
    <p><img align="left"  src="https://dojiw2m9tvv09.cloudfront.net/62514/1/p_x-test/perroestresado6473.png" width="300px"><a  href="Arsef.html" target="_self" style="text-align: center;" >  Arsef</a> </p>
    </article>
    <article>
    <br clear="left"> 
    <p><img  align="left" src="https://i.pinimg.com/736x/a2/e8/0c/a2e80c9b0673f83da82958e05fb22f85.jpg" width="200px" height="300px"><a  href="Pluto.html" target="_self" > Pluto</a> </p>
    </article>
    <article>
    <br clear="left"> 
    <p><img align="left" src="https://cdn.onemars.net/sites/pedigree_es_NkyIN_lYfo/addons/dog_1666192478750_1675951433671.webp" width="300px"><a  href="Michu.html" target="_self" > Michu</a> </p>
    <br clear="left">
    </article>
</section>
    <footer>
        <h6>©todos los derechos reservados 2024 ©
        </h6>
        </footer>
</body>
</html>