{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Página de gatitos</title>
</head>
<body>
    <h1>Gatitos tiednos</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Laborum maiores veritatis dolorum minus, 
        earum iusto corrupti sed numquam assumenda 
        doloribus saepe eum voluptates distinctio 
        iure. Id rerum accusantium nemo quam!</p>
    
        <a href="{% url 'mascota' %}">Ir a mascotas</a><br>
        <a href="{% url 'admin' %}">Administración</a>
    </ul>
</body>
</html>